/**
 * @name DayCycleDiscord
 * @author v37ga
 * @version 1.1.0
 * @description Required theme for the DayCycleDiscord plugin.
 * @source https://github.com/v37ga/37/tree/main/daycyclediscord
*/

@import url('https://v37ga.github.io/37/daycyclediscord/src/base.css');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* Variables */
:root {
    --bkgcolor: rgba(13,13,13) !important;
    --detail: transparent;
}
