/**
 * @name DayCycleDiscord
 * @author v37ga
 * @version 1.3.0
 * @description Required theme for the DayCycleDiscord plugin.
 * @source https://github.com/v37ga/37/tree/main/daycyclediscord
*/

@import url('https://v37ga.github.io/37/daycyclediscord/base.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rajdhani:wght@300&display=swap');

/* Variables */
:root {
    --bkgcolor: rgba(13,13,13,0.1) !important;
    --detail: transparent;
}
